{% extends "base.html" %}

{% block content %}
{% include "header_row.html" %}
<div class="row m-3">
	<div class="col-3">
		<h1 class="display-1">about</h1>
	</div>
	<div class="col-9">
		<h1>about me</h1>
		<p>Hi I'm Jonathan Adcock, owner and developer of this site, <b>Weak Lemon Drink</b>! I live in Bristol, UK and I have a house, a wife and a little son and everything. My day job is as a senior systems engineer in the aerospace industry, but I also do a bit of python development freelancing in my spare time.</p>
		<p>My likes include music, playing guitar, circus skills, cycling, working with wood and getting dirty in the garden.</p>
		<p>If you want to contact me, please do! I can be reached at <a href="mailto:jonny.adcock@gmail.com">jonny.adcock@gmail.com</a>.
		<h1>about the site</h1>
		<p>This site will include my thoughts on engineering, coding or whatever else. I haven't used traditional social media because I wanted to code the site myself, plus I want to see whether anything I put on here reaches an audience all on it's own. I want an outlet for some of the thoughts I have from time to time, and a portfolio of the projects I've completed.</p>
		<p>I've written this site using <a href="https://www.djangoproject.com/">django</a> and the <a href="https://wagtail.io/">wagtail</a> CMS. If you're interested, you can take a look at the source on <a href="https://github.com/WeakLemonDrink/weaklemondrink">github</a>.</p>
	</div>
</div>
{% endblock %}