{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}
{% include "header_row.html" %}
<div class="row m-3">
{% for page in pages %}
	<div class="col-sm-3">
		<div class="card">
			{% image page.preview_img max-200x300 class="card-img" %}
			<div class="card-img-overlay">
				<h2 class="card-title">{{page.title}}</h2>
				<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			</div>
			<div class="card-body">
				<p><span data-feather="calendar"></span> {{page.date}}</p>
				{% if page.tags.exists %}<p><span data-feather="tag"></span> {% for tag in page.tags.all %}<span class="badge badge-primary">{{tag}}</span>{% endfor %}</p>{% endif %}
			</div>
			<a href="{% pageurl page %}" class="stretched-link"></a>
		</div>
	</div>
{% endfor %}
</div>
{% endblock %}

{% block script %}
<script>
  feather.replace()
</script>
{% endblock script %}